# --- Python ---
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.py.class
*.egg-info/
.eggs/
.build/
dist/
*.log
pip-wheel-metadata/
.venv/
venv/
env/
ENV/
myenv/

# --- Env files ---
.env
.env.local
.env.*.local

# --- VS Code / IDEs ---
.vscode/
.idea/

# --- Tests ---
.pytest_cache/
.coverage
htmlcov/

# --- OS-specific ---
.DS_Store
Thumbs.db

# --- Misc ---
*.sqlite3
*.db
